/* Global */
body{
    font-family: "Playfair Display", serif;
    text-decoration: none;
    font-size: 22px;
    line-height: 1.6;
    text-transform: none;
    font-weight: 400;
    background-color: #f5f5f5;
    color: #3A3A3A;

}

h3{
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none;
}


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}

a{
    color: #222222;
    text-decoration: none!important;
}

img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    overflow-clip-margin: content-box;
    overflow: clip;

}


/* Navbar */

.first-navbar a{
    color: #222222!important;
    font-size:15px;

}
.second-navbar {
    background: #222222;
    font-size: 13px!important;
    color:#FFFFFF;
}
.second-navbar .navbar-toggler{
    color: #FFFFFF;
    background-color:#222222 ;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none!important;
    box-shadow: none!important;

}


.navbar-toggler{
    color: #222222;


}
@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: center;
    }

}

@media (max-width: 991px) {
    .navbar-nav {
        margin: 0;
        display: flex;
        justify-content: space-between!important;
    }
    .menu-spam{
        flex-grow: 1;
    }
    .navbar-toggler{
        border: none;
        display: flex;
        align-items: center;
    }

    .first-navbar .menu-spam{
        font-size: 15px;
    }
    li{
        margin-bottom: 10px;
        margin-top: 10px;
    }

}
.navbar-nav .nav-link {
    color: #fff;
}
.nav-item{
    padding-right: 20px;
    padding-left: 20px;
}



/* Container */
.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
    text-align: center;
}


.container-inside {
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    max-width: 985px;
}
.container-inside h3 {
    color: #3A3A3A;
    margin: 0 0 20px;
}

.container-inside .col{
    margin:0 0 33px;
    padding: 0 10px;

}

/* Titles */
.main-title {
    color:#222222;
    text-decoration: none;
    font-size:55px ;
}
@media screen and (max-width: 768px) {
    .main-title {
        font-size:30px;
    }
}

.second-title {
    color: #3A3A3A;
}

/* Buttons */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
    padding: 8px 15px;
    font-size: 17.6px;
    border: 2px solid #222;
}

/* Others */
.img-thumbnail {
    max-width: 400px;
}

.separeted-bar{
    padding: 0;
    background: #222222
}
.separeted-bar hr{
    padding: 10px 35px;
    margin: 0 251px
}

.description{
    color: #757575;
    font-size: 15px;
    margin: auto;
}

/* Section2 */
.section2{
    background-image: url("image/nhgazette-hero.jpg");
}



/* Section3 */

.section3 .container .text-center{
    margin: 0 173.3px;
    padding: 40px 35px;

}
.section3 img{
    margin: 0 !important;
    vertical-align: bottom;
    height: auto;
}

.section3 .text-start-inside{
    font-size: 14.3px;
    color: #00000080;
    margin:0 0 20px;
}
.section3 .text-center a{
    padding: 0 0 0;
    font-size: 30px;
    margin-bottom: 10px;
}
.section3 .container-inside .col-lg-8 p{
    font-size: 14.3px!important;

}


.text-start-inside a,time {
    font-size: 14.3px!important;
}
.container.text-start h2 {
    margin-top: 35px;
}

.container-inside-small{
    margin-bottom: 35px;
    font-size: 14.3px!important;
}

/* Section5 */
.section5 .second-title{
    margin-bottom: 20px;
}
.section5 p{
    font-size: 17.6px!important;
}
.section5 img{
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

/* Section6 */

.section6{
    background-image:linear-gradient(0deg, rgba(34, 34, 34, 0.69), rgba(34, 34, 34, 0.69)), url("image/nh-gazette-video-callout.jpg");
    background-size: cover;
    color: #FFFFFF;
}
.section6 .container-inside{
    padding: 100px 35px;
}
.section6 p{
    font-size: 22px;
}

.selection8{
    background-color: #222222;
    color: #fff;
}
.selection9 a{
    color: #222222;
}

/* Footer */
.footer-container{
    padding: 60px 40px 40px;
    background-size: 100% auto;
    background: #D6D6D6 url("image/tide-web.png") repeat-x top;

}
.footer-container .col{
    font-size: 17px;
    margin: 0 0 12px;
}
.footer-container h2{
    font-size: 20px;
    color: #000000;
    margin: 0 0 25px!important;
}
.footer-container li{
    padding: 0 0 5px;
}
.footer-container .form-control{
    padding: 10px 15px;
    background: #FAFAFA;
    font-size: 22px;
    box-sizing: border-box;
    width: 195px;
    margin-bottom: 17px;
}

footer {
    background-color: #222222;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}


